@model List<Category>
@{
    ViewData["Title"] = "Categorias";
    ViewData["SubTitle"] = "Lista";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb small">
        <li class="breadcrumb-item active" aria-current="page">@ViewData["SubTitle"]</li>
    </ol>
</nav>

<div class="row" style="background-color: #003088;">
    <h2 class="col text-center" style="margin: 20px;">Categorías</h2>
</div>


<div class="row">
    <div class="col" style="margin-top: 20px; margin-bottom: 20px;">
        <a class="btn btn-danger btn-lg mx-auto" asp-action="Make" asp-route-id='@ViewData["MovieId"]'
            title="Crear nuevo">Crear Nueva Categoría</a>
    </div>
    <div class="col text-end" style="margin-top: 35px;">
        Mostrando @Model.Count() elementos
    </div>
</div>

@if (Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered small">
            <thead class="text-center">
                <tr style="border-color: #000000;">
                    <th style="background-color: #00175e;">
                        Id
                    </th>
                    <th style="background-color: #00175e;">
                        Nombre
                    </th>
                    <th style="background-color: #00175e;">
                        Eliminable
                    </th>
                    <th style="background-color: #00175e;"></th>
                    <th style="background-color: #00175e;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="border-color: #000000;">
                        <td class="text-center" style="background-color: #000b2b;">
                            @Html.DisplayFor(modelItem => item.CategoryId)
                        </td>
                        <td class="text-center" style="background-color: #000b2b;">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="text-center" style="background-color: #000b2b;">
                            @(item.IsProtected ? "No" : "Sí")
                        </td>
                        <td width="1" class="text-center" style="background-color: #000b2b;">
                            <a class="btn btn-danger btn-sm" asp-action="Edit" asp-route-id="@item.CategoryId">Editar</a>
                        </td>
                        <td width="1" class="text-center" style="background-color: #000b2b;">
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.CategoryId">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="mt-5">
        <div class="alert alert-warning" role="alert">
            No se han encontrado elementos. Inténtelo de nuevo más tarde.
        </div>
    </div>
}