@model Dictionary<Movie, string>
@{
    ViewData["Title"] = "Películas";
    ViewData["SubTitle"] = "Lista";
}

<div class="row small">
    <div style="background-color: #003088;">
        <div class="input-group input-group-sm mb-3 col">
            <h2 class="col text-center" style="margin-top: 16px;">Películas</h2>
        </div>
    </div>
    <form asp-action="Index" method="get">
        <div class="row">
            @if (ViewBag.OnlyAdmin == true)
            {
                <button class="col-3 btn btn-danger" asp-action="Make" title="Crear nuevo"
                    style="margin-top: 18px; margin-right: 350px;">Registrar nueva película
                </button>;
            }
            else
            {
                <div class="col-7"></div>
            }
            <input name="s" id="find-movie-by-title-text-input" value="@ViewBag.search" type="search"
                class="form-control col" placeholder="Buscar por título" style="margin-top: 16px;">
            <button class="btn btn-danger col" type="submit" title="Buscar" style="margin-top: 16px;"><i
                    class="bi bi-search"></i></button>
        </div>
    </form>
</div>
<div class="row text-center mb-3" style="margin-top: 16px;">
    <div class="col text-mid ">
        Mostrando @Model.Count() películas.
    </div>
</div>

@if (Model.Count() > 0)
{
    <div class="table-responsive" style="margin: 0px;">
        @foreach (var item in Model)
        {
            <div class="row" style="background-color: #0f0f0f; margin: 0px; border: 3px solid #272727;">
                <img src='@((item.Value == null) ? "https://via.placeholder.com/27x40": item.Value)' class="col"
                    style="margin: 20px; margin-left: 10px; height: 160px; width: 130px;">
                <div class="col">
                    <h5 style="margin-top: 20px; text-align: center;">@item.Key.Title</h5>
                    <h5 style="margin-top: 20px; text-align: center;">@item.Key.Year</h5>
                </div>
                <p class="col" style="margin-top: 20px;">@item.Key.Synopsis</p>
                <div class="col-3">
                    <a class="btn btn-danger btn-lg mx-auto" asp-action="Categories" asp-route-id="@item.Key.MovieId"
                        style="margin-top: 76px;">Administrar Categorias</a>
                </div>
                <div class="col" style="margin-top: 10px;">
                    <a class="btn btn-danger btn-lg" asp-action="Edit" asp-route-id="@item.Key.MovieId"
                        style="margin: 20px;">Modificar</a>
                    <a class="btn btn-danger btn-lg" asp-action="Delete" asp-route-id="@item.Key.MovieId" 
                        style="margin: 20px; margin-left: 28px;">Eliminar</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="mt-5">
        <div class="alert alert-warning" role="alert">
            No se han encontrado elementos. Intentelo de nuevo más tarde.
        </div>
    </div>
}
